.footer {
    position: fixed;
    bottom: 1.6rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    z-index: 700;

    @include respond(ipad) {
        bottom: 0;
    }

    &__copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        background-color: rgba($color-blue-deep, .5);
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
        transition: all .5s ease;;

        &:hover {
            background-color: rgba($color-blue-deep, .8);
            font-size: 1.6rem;
        }
    }
}