#map {
	width: 100%;
	height: 100%;
}

.marker {
    &-cluster {
        border-radius: 5rem;
        // background-clip: padding-box;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;

        &-small, &-medium, &-large {
            background-color: rgba($color-blue-deep, .6);
            color: #fff;
        }

        &-small {
            // background-color: rgba(181, 226, 140, 0.6);
            width: 3rem !important;
            height: 3rem !important;
            line-height: 3rem !important;
        }

        &-medium {
            // background-color: rgba(241, 211, 87, 0.6);
            width: 4rem !important;
            height: 4rem !important;
            line-height: 4rem !important;
        }

        &-large {
            // background-color: rgba(253, 156, 115, 0.6);
            width: 5rem !important;
            height: 5rem !important;
            line-height: 5rem !important;
        }
    }
}

.leaflet-marker-icon {
    z-index: 100 !important;
}