// Responsive Breakpoints
$bp-largest: 110em;          // 1760px
$bp-large: 64em;          // 1024px
$bp-medium: 52em;           // 832px
$bp-small: 37.5em;          // 600px

*,
*::before,
*::after {
    box-sizing: inherit;

    &:focus {
        outline: none;
    }
}

a:link,
a:hover,
a:active,
a:visited {
    // text-decoration: none;
    color: inherit;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::selection {
    background-color: $color--primary;
    color: $color--white;
}