@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Media query manager
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]:  is where our normal styles apply
1800 + :        Big destop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-xs {
        @media only screen and (max-width: 23.375em) { @content };        //374px
    }
    @if $breakpoint == phone {
        @media only screen and (min-width: 36em) { @content };        //576px
    }
    @if $breakpoint == ipad {
        @media only screen and (min-width: 48em) { @content };        // 768px
    }
    @if $breakpoint == tab-port {
        @media only screen and (min-width: 56.25em) { @content };       //900px
    }
    @if $breakpoint == ipad-pro {
        @media only screen and (min-width: 64em) { @content };        // 1024px
    }
    @if $breakpoint == desktop-s {
        @media only screen and (min-width: 80em) { @content };          //1280px
    }
    @if $breakpoint == desktop-m {
        @media only screen and (min-width: 85.375em) { @content };       //1366px
    }
    @if $breakpoint == desktop-l {
        @media only screen and (min-width: 104em) { @content };       //1664px
    }
}