// Colors
// $color-primary: #45566d;
// $color-secondary: ;
// $color-tertiary: ;

$color-red-light: #b26b6b;  // Copper Penny
$color-red: #995b5b;    // Rose Taupe
$color-red-dark: #7f4c4c;   // Tuscan Red

$color-green-light: #74b29d;  // Green Sheen
$color-green: #639987;    // Desaturated Cyan
$color-green-dark: #527f70;   // Hooker's Green

$color-blue-bright: #7fa7c4;  // Moonstone Blue
$color-blue-light: #7498b2;  // Weldon Blue
$color-blue: #638299;    // Slate Gray
$color-blue-dark: #4a6272;   // Deep Space Sparkle
$color-blue-deep: #31414c;   // Charcoal