// Colors
$color--primary: #45566d;
// $color--secondary: #1C1D20;
// $color--tertiary: #32373E;

$color-grey-light-1: #ccc;
$color-grey-light-2: #ddd;
$color-grey-light-3: #e0e0e0;
$color-grey-light-4: #EBEDF0;
$color-grey-light-5: #F3F3F3;

$color-grey-dark-1: #999;
$color-grey-dark-2: #6A6C71;
$color-grey-dark-3: #333;